{% extends 'skeleton.html' %}
{% block body %}

    <div class="container">
        <h1>Cerespace controller</h1>
        <table id="matrix">
            <tr>
                <td>
                    <button id="take_photo" class="btn btn-success btn-control">Take Photo</button>
                </td>
                <td></td>
                <td></td>
                <td>
                    <button id="forward" class="btn btn-success btn-control">Forward</button>
                </td>
                <td></td>
                <td></td>
                <td>
                    <button id="up" class="btn btn-success btn-control">Up</button>
                </td>
            </tr>

            <tr>
                <td>
                    <button id="water" class="btn btn-info btn-control">Water</button>
                </td>
                <td></td>
                <td>
                    <button id="right" class="btn btn-success btn-control">Right</button>
                </td>
                <td>
                    <button id="backward" class="btn btn-success btn-control">Backward</button>
                </td>
                <td>
                    <button id="left" class="btn btn-success btn-control">Left</button>
                </td>
                <td></td>
                <td>
                    <button id="down" class="btn btn-success btn-control">Down</button>
                </td>
            </tr>
            <tr>
                <td colspan="7" id="position_show">
                    X: <span id="xcoord">0</span> Y: <span id="ycoord">0</span> Z: <span id="zcoord">0</span><br/>
                    <label>X: </label><input type="number" class="form-control coord" id="xval" value="0">
                    <label>Y: </label><input type="number" class="form-control coord" id="yval" value="0">
                    <label>Z: </label><input type="number" class="form-control coord" id="zval" value="0">
                    <button id="go_coord" class="btn btn-outline-success">Go</button>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <input id="distselect" type="range" max="1000" min="0" value="10" class="distcontroller">
                    <input type="number" max="20000" min="0" class="form-control distcontroller">
                    <label> mm</label>
                </td>
            </tr>
        </table>

    </div>
{% endblock %}




