.xlcontainer {
    max-width: none;
}

.btn-control {
    width: 100%;
}

.ctrlpan {
    text-align: center;
}

#distselect {
    width: 100%;
}

#matrix td {
    min-width: 10px;
}

#matrix button {
    min-width: 80px;
}

.distcontroller {
    width: calc(100% - 70px);
    display: inline;
}

.coord{
    display: inline;
    width: 100px;
    margin: 10px;
}

.btn {
    margin-right: 5px;
}

h1 {
    margin-bottom: 20px;
}